.about-header {
  background-image: url("./assets/images/about-hero-desktop.jpg");
}

.career-header {
  background-image: url("./assets/images/careers-locations-hero-desktop.jpg");
}

.location-header {
  background-image: url("./assets/images/careers-locations-hero-desktop.jpg");
}

.header {
  height: 20rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--mainPaddingX);
  color: var(--snowgray);
  background-size: cover;
  background-attachment: fixed;
}

.header-circles {
  transform: translateX(5rem);
}

.about-header-h2 {
  font-weight: 300;
}

@media screen and (max-width: 1050px) {
  .about-header {
    background-image: url("./assets/images/about-hero-tablet.jpg");
  }

  .career-header {
    background-image: url("./assets/images/careers-locations-hero-tablet.jpg");
  }
}

@media screen and (max-width: 550px) {
  .header {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-left: 0rem;
  }

  .header-circles {
    display: none;
  }

  .about-header {
    background-image: url("./assets/images/about-hero-mobile.jpg");
  }

  .career-header {
    background-image: url("./assets/images/careers-location-hero-mobile.jpg");
  }
}
