.nav {
  padding: 2rem var(--mainPaddingX);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-logo-links-column {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.mobile-nav-icon {
  display: none;
}

.burger-icon {
  cursor: pointer;
  transition: 0.3s ease;
}

.burger-icon:hover {
  transform: scale(1.1);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.nav-link {
  color: var(--gray);
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease;
}

.nav-link:hover {
  text-shadow: 1px 1px 1px var(--gray), 1px 2px 5px var(--gray);
  transform: scale(1.1);
}

/* .nav-btn {
  background: var(--yellow);
  border: 2px solid transparent;
  color: var(--snowgray);
  font-weight: 600;
  letter-spacing: 0.15rem;
  cursor: pointer;
  transition: 0.5s ease;
}

.nav-btn:hover {
  background: transparent;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  transform: scale(1.2, 1.1);
} */

.nav-link-item {
  opacity: 0;
}

@media screen and (max-width: 950px) {
  .nav-logo-div {
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }
}

@media screen and (max-width: 585px) {
  .nav-logo-links-column {
    gap: 0rem;
    /* border: 2px solid red; */
    width: 100%;
  }
  .nav-links,
  .nav-btn {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
  }
}
